# Data Wrangling: Acquisition & Preparation

In this lesson, we'll be acquiring and preparing some data from our SQL database.

## Learning Goals:

    
- Acquire a sample of data from SQL.
- Identify null values, which nulls are 'deal-breakers', i.e. rows removed, which nulls should be represented by 0, and which should be replaced by a value from other methods, such as mean.		
- Identify outliers and decide what to do with them, if anything (remove, keep as-is, replace).
- Data Structure: Aggregate as needed so that every row is an observation and each column is a variable (1 variable and not a measure).

In [7]:
# regular imports

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import env
# from acquire import get_mallcustomer_data()

In [ ]:
# from our acquire.py:
def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'
    
def get_mallcustomer_data():
    df = pd.read_sql('SELECT * FROM customers;', get_connection('mall_customers'))
    return df.set_index('customer_id')

In [ ]:
# acquire our dataframe

In [ ]:
df = get_mallcustomer_data()

In [ ]:
type(df)

### Acquire & Summarize

In [ ]:
# How do we get a summarization of our data?

In [ ]:
# summary of data:
# .head()
# .info()
# .describe()
# value_counts() *spread of data
# observe nulls in the dataframe
#      deal with nulls accordingly:
#      -fillna(0)
#      -fillna(value/mean/mode)//sklearn.imputer(only after split)
#      -drop

In [ ]:
df.info()

In [ ]:
df.shape[0]

In [ ]:
# pandas axes:
# rows: r0ws
# cols: co1s

In [ ]:
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    prcnt_miss = num_missing / rows * 100
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 'percent_rows_missing': prcnt_miss})
    return cols_missing

def nulls_by_row(df):
    num_missing = df.isnull().sum(axis=1)
    prcnt_miss = num_missing / df.shape[1] * 100
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing': prcnt_miss})\
    .reset_index()\
    .groupby(['num_cols_missing', 'percent_cols_missing']).count()\
    .rename(index=str, columns={'customer_id': 'num_rows'}).reset_index()
    return rows_missing

In [ ]:
print(nulls_by_row(df).to_markdown())

In [ ]:
def summarize(df):
    '''
    summarize will take in a single argument (a pandas dataframe) 
    and output to console various statistics on said dataframe, including:
    # .head()
    # .info()
    # .describe()
    # value_counts()
    # observation of nulls in the dataframe
    '''
    print('=====================================================\n\n')
    print('Dataframe head: ')
    print(df.head(3).to_markdown())
    print('=====================================================\n\n')
    print('Dataframe info: ')
    print(df.info())
    print('=====================================================\n\n')
    print('Dataframe Description: ')
    print(df.describe().to_markdown())
    num_cols = [col for col in df.columns if df[col].dtype != 'O']
    cat_cols = [col for col in df.columns if col not in num_cols]
    print('=====================================================')
    print('DataFrame value counts: ')
    for col in df.columns:
        if col in cat_cols:
            print(df[col].value_counts())
        else:
            print(df[col].value_counts(bins=10, sort=False))
    print('=====================================================')
    print('nulls in dataframe by column: ')
    print(nulls_by_col(df))
    print('=====================================================')
    print('nulls in dataframe by row: ')
    print(nulls_by_row(df))
    print('=====================================================')

In [ ]:
summarize(df)

In [ ]:
df.hist()
plt.tight_layout()
plt.show()

In [ ]:
# hypothetical // practical removal of nulls:

In [ ]:
def remove_columns(df, cols_to_remove):
    df = df.drop(columns=cols_to_remove)
    return df

In [ ]:
def handle_missing_values(df, prop_required_columns=0.5, prop_required_row=0.75):
    threshold = int(round(prop_required_columns * len(df.index), 0))
    df = df.dropna(axis=1, thresh=threshold)
    threshold = int(round(prop_required_row * len(df.columns), 0))
    df = df.dropna(axis=0, thresh=threshold)
    return df

In [ ]:
# combining everything in a cleaning function:

def data_prep(df, cols_to_remove=[], prop_required_column=0.5, prop_required_row=0.75):
    df = remove_columns(df, cols_to_remove)
    df = handle_missing_values(df, prop_required_column, prop_required_row)
    return df

In [ ]:
df = data_prep(df)

In [ ]:
df.info()

In [ ]:
# Handling Outliers:
# note your use-case! (handle outliers approrpriately. 
# ( Do we want to drop them? )
# z-score: appropriate for normal data, based on normal distribution
# Tukey: utilizing fences with inner quartile range, not contingent on normality

In [ ]:
# to utilize tukeys method:
# calculate iqr:
# get Q3 and Q1, get difference (q3 - q1)
# establish fences: 
## standard inner fence: 1.5
## standard outer fence: 3
# upper bound: q3 + k * iqr
# lower bound: q1 - k * iqr

In [ ]:
def get_upper_outliers(s, k=1.5):
    q1, q3 = s.quantile([.25, 0.75])
    iqr = q3 - q1
    upper_bound = q3 + k * iqr
    return s.apply(lambda x: max([x - upper_bound, 0]))

In [ ]:
def add_upper_outlier_columns(df, k=1.5):
    for col in df.select_dtypes('number'):
        df[col + '_outliers_upper'] = get_upper_outliers(df[col], k)
    return df

In [ ]:
df = add_upper_outlier_columns(df)

In [ ]:
df.head()

In [ ]:
outlier_cols = [col for col in df.columns if col.endswith('_outliers_upper')]
for col in outlier_cols:
    print(col, ': ')
    subset = df[col][df[col] > 0]
    print(subset.describe())

In [ ]:
# we have:
# in an organized fashion:
# acquired our data
# examined the structure and integrity of the data
# we hav observed descriptive statistics (univariate)
# we have examined null values in a nuanced fashion
# we have examined where our outliers live and assessed how we want to approach them
 # (Takeaway: our outliers exist in income, they appear to be valid and I will not 
    # drop them at this time)

---
> Exercise Function Calls:
---

# Exercises

Within your `codeup-data-science` directory, create a new directory named `clustering-exercises`. This will be where you do your work for this module. Create a repository on GitHub with the same name, and link your local repository to GitHub.

Save your clustering work in your `clustering-exercises` repo. Then add, commit, and push your changes.

For example, if the
exercise directs you to create a file named `myfile.py`, you should have
`clustering/myfile.py` in your repository.

If a file extension is specified, you should create that specific file. If there
is not file extension specified, you may either create a python script or a
jupyter notebook for the exercise.

!!!tip "Workflow"
    Throughout the exercises, you may wish to do your work in a notebook, then
    transfer any functions you've created to an external python script.

    Keep in mind this is not always a linear process! You will probably be
    cycling between a notebook and an external python script frequently.

    Remember to run your code often to check for correct output and/or errors.

## Acquire (acquire.py)

### Zillow

For the following, iterate through the steps you would take to create functions:
Write the code to do the following in a jupyter notebook, test it, convert to functions, then create the file to house those functions. 

You will have a zillow.ipynb file and a helper file for each section in the pipeline. 


#### acquire & summarize

1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database. 
    - **_Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for `airconditioningtypeid`._**  
    - Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction.  
    - Only include properties that include a latitude and longitude value.  

2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)
3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values. 

|                          | num_rows_missing | pct_rows_missing  |
| ------------------------ |-----------------:| -----------------:|
| parcelid                 | 0                | 0.000000          |
| airconditioningtypeid    | 29041            | 0.535486          |
| architecturalstyletypeid | 54232            | 0.999982          |


4. Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values. 


| num_cols_missing  | pct_cols_missing | num_rows  |
| ----------------- |-----------------:| ---------:|
| 23                | 38.333           | 108       |
| 24                | 40.000           | 123       |
| 25                | 41.667           | 5280      |

#### Prepare 

1. Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.  

1. Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).  
    - The input:
        - A dataframe
        - A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column.  i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
        - A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing). 
    - The output:
        - The dataframe with the columns and rows dropped as indicated. *Be sure to drop the columns prior to the rows in your function.*
    - hint:
        - Look up the dropna documentation. 
        - You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.
        - Make use of inplace, i.e. inplace=True/False.

1. Decide how to handle the remaining missing values: 
    - Fill with constant value.
    - Impute with mean, median, mode.
    - Drop row/column
    

#### wrangle_zillow.py

Functions of the work above needed to acquire and prepare a new sample of data.

### Mall Customers

#### notebook

1. Acquire data from mall_customers.customers in mysql database. 
2. Summarize data (include distributions and descriptive statistics).
2. Detect outliers using IQR.
3. Split data (train, validate, and test split).
3. Encode categorical columns using a one hot encoder (pd.get_dummies).
4. Handles missing values.
5. Scaling

#### wrangle_mall.py 

1. Acquire data from mall_customers.customers in mysql database. 
2. Split the data into train, validate, and split
3. One-hot-encoding (pd.get_dummies)
3. Missing values
4. Scaling

In [4]:
import wrangle_excs

In [5]:
df = wrangle_excs.wrangle_zillow()

In [8]:
acq = pd.read_csv('zillow_cached.csv')

/opt/homebrew/anaconda3/envs/homebase/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (62) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [9]:
acq.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,NaN,...,6.059063e+13,0.025595,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
1,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,NaN,...,6.111001e+13,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,NaN,...,6.059022e+13,0.005383,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
3,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,NaN,...,6.037300e+13,-0.103410,2017-01-01,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
4,10887214,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,NaN,...,6.037124e+13,0.006940,2017-01-01,Central,NaN,NaN,Central,Condominium,NaN,NaN

In [11]:
acq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77575 entries, 0 to 77574
Data columns (total 67 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77575 non-null  int64
 1   airconditioningtypeid         25006 non-null  float64
 2   architecturalstyletypeid      206 non-null    float64
 3   basementsqft                  50 non-null     float64
 4   bathroomcnt                   77575 non-null  float64
 5   bedroomcnt                    77575 non-null  float64
 6   buildingclasstypeid           15 non-null     float64
 7   buildingqualitytypeid         49809 non-null  float64
 8   calculatedbathnbr             76960 non-null  float64
 9   decktypeid                    614 non-null    float64
 10  finishedfloor1squarefeet      6035 non-null   float64
 11  calculatedfinishedsquarefeet  77375 non-null  float64
 12  finishedsquarefeet12          73920 non-null  float64
 13  finishedsquarefeet13          42 non-null     float64
 14  finishedsquarefeet15          3027 non-null   float64
 15  finishedsquarefeet50          6035 non-null   float64
 16  finishedsquarefeet6           386 non-null    float64
 17  fips                          77575 non-null  float64
 18  fireplacecnt                  8287 non-null   float64
 19  fullbathcnt                   76960 non-null  float64
 20  garagecarcnt                  25517 non-null  float64
 21  garagetotalsqft               25517 non-null  float64
 22  hashottuborspa                1539 non-null   float64
 23  heatingorsystemtypeid         49570 non-null  float64
 24  latitude                      77575 non-null  float64
 25  longitude                     77575 non-null  float64
 26  lotsizesquarefeet             69318 non-null  float64
 27  poolcnt                       16173 non-null  float64
 28  poolsizesum                   869 non-null    float64
 29  pooltypeid10                  465 non-null    float64
 30  pooltypeid2                   1074 non-null   float64
 31  pooltypeid7                   15078 non-null  float64
 32  propertycountylandusecode     77575 non-null  object
 33  propertylandusetypeid         77575 non-null  float64
 34  propertyzoningdesc            50475 non-null  object
 35  rawcensustractandblock        77575 non-null  float64
 36  regionidcity                  76103 non-null  float64
 37  regionidcounty                77575 non-null  float64
 38  regionidneighborhood          30973 non-null  float64
 39  regionidzip                   77525 non-null  float64
 40  roomcnt                       77575 non-null  float64
 41  storytypeid                   50 non-null     float64
 42  threequarterbathnbr           10105 non-null  float64
 43  typeconstructiontypeid        222 non-null    float64
 44  unitcnt                       50703 non-null  float64
 45  yardbuildingsqft17            2393 non-null   float64
 46  yardbuildingsqft26            70 non-null     float64
 47  yearbuilt                     77306 non-null  float64
 48  numberofstories               17596 non-null  float64
 49  fireplaceflag                 172 non-null    float64
 50  structuretaxvaluedollarcnt    77460 non-null  float64
 51  taxvaluedollarcnt             77574 non-null  float64
 52  assessmentyear                77575 non-null  float64
 53  landtaxvaluedollarcnt         77573 non-null  float64
 54  taxamount                     77570 non-null  float64
 55  taxdelinquencyflag            2900 non-null   object
 56  taxdelinquencyyear            2900 non-null   float64
 57  censustractandblock           77328 non-null  float64
 58  logerror                      77575 non-null  float64
 59  transactiondate               77575 non-null  object
 60  airconditioningdesc           25006 non-null  object
 61  architecturalstyledesc        206 non-null    object
 62  buildingclassdesc             15 non-null     object
 63  heatingorsystemdesc           49570 non-null  object
 64  propertylandusedesc           77575 non-null  object
 65  storydesc                     50 non-null     object
 66  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(1), object(11)
memory usage: 39.7+ MB

In [13]:
wrangle_excs.summarize(acq)

=====================================================


Dataframe head:
|    |   parcelid |   airconditioningtypeid |   architecturalstyletypeid |   basementsqft |   bathroomcnt |   bedroomcnt |   buildingclasstypeid |   buildingqualitytypeid |   calculatedbathnbr |   decktypeid |   finishedfloor1squarefeet |   calculatedfinishedsquarefeet |   finishedsquarefeet12 |   finishedsquarefeet13 |   finishedsquarefeet15 |   finishedsquarefeet50 |   finishedsquarefeet6 |   fips |   fireplacecnt |   fullbathcnt |   garagecarcnt |   garagetotalsqft |   hashottuborspa |   heatingorsystemtypeid |    latitude |    longitude |   lotsizesquarefeet |   poolcnt |   poolsizesum |   pooltypeid10 |   pooltypeid2 |   pooltypeid7 |   propertycountylandusecode |   propertylandusetypeid |   propertyzoningdesc |   rawcensustractandblock |   regionidcity |   regionidcounty |   regionidneighborhood |   regionidzip |   roomcnt |   storytypeid |   threequarterbathnbr |   typeconstructiontypeid |   unitcnt |   yardbuildingsqft17 |   yardbuildingsqft26 |   yearbuilt |   numberofstories |   fireplaceflag |   structuretaxvaluedollarcnt |   taxvaluedollarcnt |   assessmentyear |   landtaxvaluedollarcnt |   taxamount |   taxdelinquencyflag |   taxdelinquencyyear |   censustractandblock |   logerror | transactiondate   |   airconditioningdesc |   architecturalstyledesc |   buildingclassdesc |   heatingorsystemdesc | propertylandusedesc       |   storydesc |   typeconstructiondesc |
|---:|-----------:|------------------------:|---------------------------:|---------------:|--------------:|-------------:|----------------------:|------------------------:|--------------------:|-------------:|---------------------------:|-------------------------------:|-----------------------:|-----------------------:|-----------------------:|-----------------------:|----------------------:|-------:|---------------:|--------------:|---------------:|------------------:|-----------------:|------------------------:|------------:|-------------:|--------------------:|----------:|--------------:|---------------:|--------------:|--------------:|----------------------------:|------------------------:|---------------------:|-------------------------:|---------------:|-----------------:|-----------------------:|--------------:|----------:|--------------:|----------------------:|-------------------------:|----------:|---------------------:|---------------------:|------------:|------------------:|----------------:|-----------------------------:|--------------------:|-----------------:|------------------------:|------------:|---------------------:|---------------------:|----------------------:|-----------:|:------------------|----------------------:|-------------------------:|--------------------:|----------------------:|:--------------------------|------------:|-----------------------:|
|  0 |   14297519 |                     nan |                        nan |            nan |           3.5 |            4 |                   nan |                     nan |                 3.5 |          nan |                        nan |                           3100 |                   3100 |                    nan |                    nan |                    nan |                   nan |   6059 |            nan |             3 |              2 |               633 |              nan |                     nan | 3.36349e+07 | -1.17869e+08 |                4506 |       nan |           nan |            nan |           nan |           nan |                         122 |                     261 |                  nan |              6.05906e+07 |          53571 |             1286 |                    nan |         96978 |         0 |           nan |                     1 |                      nan |       nan |                  nan |                  nan |        1998 |               nan |             nan |                       485713 |         1.02328e+06 |             2016 |                  537569 |    11013.7  |                  nan |                  nan |           6.05906e+13 | 0.0255949  | 2017-01-01        |                   nan |                      nan |                 nan |                   nan | Single Family Residential |         nan |                    nan |
|  1 |   17052889 |                     nan |                        nan |            nan |           1   |            2 |                   nan |                     nan |                 1   |          nan |                       1465 |                           1465 |                   1465 |                    nan |                    nan |                   1465 |                   nan |   6111 |              1 |             1 |              1 |                 0 |              nan |                     nan | 3.44493e+07 | -1.19282e+08 |               12647 |       nan |           nan |            nan |           nan |           nan |                        1110 |                     261 |                  nan |              6.111e+07   |          13091 |             2061 |                    nan |         97099 |         5 |           nan |                   nan |                      nan |       nan |                  nan |                  nan |        1967 |                 1 |             nan |                        88000 |    464000           |             2016 |                  376000 |     5672.48 |                  nan |                  nan |           6.111e+13   | 0.0556191  | 2017-01-01        |                   nan |                      nan |                 nan |                   nan | Single Family Residential |         nan |                    nan |
|  2 |   14186244 |                     nan |                        nan |            nan |           2   |            3 |                   nan |                     nan |                 2   |          nan |                        nan |                           1243 |                   1243 |                    nan |                    nan |                    nan |                   nan |   6059 |            nan |             2 |              2 |               440 |              nan |                     nan | 3.38862e+07 | -1.17823e+08 |                8432 |         1 |           nan |            nan |           nan |             1 |                         122 |                     261 |                  nan |              6.05902e+07 |          21412 |             1286 |                    nan |         97078 |         6 |           nan |                   nan |                      nan |       nan |                  nan |                  nan |        1962 |                 1 |             nan |                        85289 |    564778           |             2016 |                  479489 |     6488.3  |                  nan |                  nan |           6.05902e+13 | 0.00538285 | 2017-01-01        |                   nan |                      nan |                 nan |                   nan | Single Family Residential |         nan |                    nan |
=====================================================


Dataframe info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77575 entries, 0 to 77574
Data columns (total 67 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77575 non-null  int64
 1   airconditioningtypeid         25006 non-null  float64
 2   architecturalstyletypeid      206 non-null    float64
 3   basementsqft                  50 non-null     float64
 4   bathroomcnt                   77575 non-null  float64
 5   bedroomcnt                    77575 non-null  float64
 6   buildingclasstypeid           15 non-null     float64
 7   buildingqualitytypeid         49809 non-null  float64
 8   calculatedbathnbr             76960 non-null  float64
 9   decktypeid                    614 non-null    float64
 10  finishedfloor1squarefeet      6035 non-null   float64
 11  calculatedfinishedsquarefeet  77375 non-null  float64
 12  finishedsquarefeet12          73920 non-null  float64
 13  finishedsquarefeet13          42 non-null     float64
 14  finishedsquarefeet15          3027 non-null   float64
 15  finishedsquarefeet50          6035 non-null   float64
 16  finishedsquarefeet6           386 non-null    float64
 17  fips                          77575 non-null  float64
 18  fireplacecnt                  8287 non-null   float64
 19  fullbathcnt                   76960 non-null  float64
 20  garagecarcnt                  25517 non-null  float64
 21  garagetotalsqft               25517 non-null  float64
 22  hashottuborspa                1539 non-null   float64
 23  heatingorsystemtypeid         49570 non-null  float64
 24  latitude                      77575 non-null  float64
 25  longitude                     77575 non-null  float64
 26  lotsizesquarefeet             69318 non-null  float64
 27  poolcnt                       16173 non-null  float64
 28  poolsizesum                   869 non-null    float64
 29  pooltypeid10                  465 non-null    float64
 30  pooltypeid2                   1074 non-null   float64
 31  pooltypeid7                   15078 non-null  float64
 32  propertycountylandusecode     77575 non-null  object
 33  propertylandusetypeid         77575 non-null  float64
 34  propertyzoningdesc            50475 non-null  object
 35  rawcensustractandblock        77575 non-null  float64
 36  regionidcity                  76103 non-null  float64
 37  regionidcounty                77575 non-null  float64
 38  regionidneighborhood          30973 non-null  float64
 39  regionidzip                   77525 non-null  float64
 40  roomcnt                       77575 non-null  float64
 41  storytypeid                   50 non-null     float64
 42  threequarterbathnbr           10105 non-null  float64
 43  typeconstructiontypeid        222 non-null    float64
 44  unitcnt                       50703 non-null  float64
 45  yardbuildingsqft17            2393 non-null   float64
 46  yardbuildingsqft26            70 non-null     float64
 47  yearbuilt                     77306 non-null  float64
 48  numberofstories               17596 non-null  float64
 49  fireplaceflag                 172 non-null    float64
 50  structuretaxvaluedollarcnt    77460 non-null  float64
 51  taxvaluedollarcnt             77574 non-null  float64
 52  assessmentyear                77575 non-null  float64
 53  landtaxvaluedollarcnt         77573 non-null  float64
 54  taxamount                     77570 non-null  float64
 55  taxdelinquencyflag            2900 non-null   object
 56  taxdelinquencyyear            2900 non-null   float64
 57  censustractandblock           77328 non-null  float64
 58  logerror                      77575 non-null  float64
 59  transactiondate               77575 non-null  object
 60  airconditioningdesc           25006 non-null  object
 61  architecturalstyledesc        206 non-null    object
 62  buildingclassdesc             15 non-null     object
 63  heatingorsystemdesc           49570 non-null  object
 64  propertylandusedesc           77575 non-null  object
 65  storydesc                     50 non-null     object
 66  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(1), object(11)
memory usage: 39.7+ MB
None
=====================================================


Dataframe Description:
|       |        parcelid |   airconditioningtypeid |   architecturalstyletypeid |   basementsqft |   bathroomcnt |   bedroomcnt |   buildingclasstypeid |   buildingqualitytypeid |   calculatedbathnbr |   decktypeid |   finishedfloor1squarefeet |   calculatedfinishedsquarefeet |   finishedsquarefeet12 |   finishedsquarefeet13 |   finishedsquarefeet15 |   finishedsquarefeet50 |   finishedsquarefeet6 |       fips |   fireplacecnt |   fullbathcnt |   garagecarcnt |   garagetotalsqft |   hashottuborspa |   heatingorsystemtypeid |         latitude |        longitude |   lotsizesquarefeet |   poolcnt |   poolsizesum |   pooltypeid10 |   pooltypeid2 |   pooltypeid7 |   propertylandusetypeid |   rawcensustractandblock |   regionidcity |   regionidcounty |   regionidneighborhood |   regionidzip |     roomcnt |   storytypeid |   threequarterbathnbr |   typeconstructiontypeid |     unitcnt |   yardbuildingsqft17 |   yardbuildingsqft26 |   yearbuilt |   numberofstories |   fireplaceflag |   structuretaxvaluedollarcnt |   taxvaluedollarcnt |   assessmentyear |   landtaxvaluedollarcnt |   taxamount |   taxdelinquencyyear |   censustractandblock |       logerror |
|:------|----------------:|------------------------:|---------------------------:|---------------:|--------------:|-------------:|----------------------:|------------------------:|--------------------:|-------------:|---------------------------:|-------------------------------:|-----------------------:|-----------------------:|-----------------------:|-----------------------:|----------------------:|-----------:|---------------:|--------------:|---------------:|------------------:|-----------------:|------------------------:|-----------------:|-----------------:|--------------------:|----------:|--------------:|---------------:|--------------:|--------------:|------------------------:|-------------------------:|---------------:|-----------------:|-----------------------:|--------------:|------------:|--------------:|----------------------:|-------------------------:|------------:|---------------------:|---------------------:|------------:|------------------:|----------------:|-----------------------------:|--------------------:|-----------------:|------------------------:|------------:|---------------------:|----------------------:|---------------:|
| count | 77575           |             25006       |                  206       |         50     |   77575       |  77575       |             15        |             49809       |        76960        |          614 |                   6035     |                      77375     |              73920     |                 42     |                3027    |               6035     |                386    | 77575      |    8287        |  76960        |   25517        |         25517     |             1539 |             49570       |  77575           |  77575           |     69318           |     16173 |       869     |            465 |          1074 |         15078 |              77575      |          77575           |        76103   |         77575    |                  30973 |      77525    | 77575       |            50 |          10105        |               222        | 50703       |             2393     |               70     |  77306      |      17596        |             172 |              77460           |     77574           |            77575 |         77573           |    77570    |           2900       |       77328           | 77575          |
| mean  |     1.30063e+07 |                 1.81205 |                    7.38835 |        679.72  |       2.29852 |      3.05325 |              3.93333  |                 6.53378 |            2.31639  |           66 |                   1366.2   |                       1784.94  |               1760.29  |               1388.76  |                2354.49 |               1381.43  |               2082.5  |  6048.81   |       1.19126  |      2.2501   |       1.81534  |           350.056 |                1 |                 3.92171 |      3.40084e+07 |     -1.18204e+08 |     29974.5         |         1 |       517.931 |              1 |             1 |             1 |                261.824  |              6.04912e+07 |        33683.4 |          2534.54 |                 187730 |      96586.7  |     1.47612 |             7 |              1.0096   |                 6.04054  |     1.11031 |              305.461 |              216.386 |   1968.61   |          1.43425  |               1 |             189281           |    490145           |             2016 |        301145           |     5995.82 |             14.0883  |           6.04967e+13 |     0.016802   |
| std   |     3.47802e+06 |                 2.96582 |                    2.73454 |        689.704 |       0.9967  |      1.14044 |              0.258199 |                 1.72206 |            0.979684 |            0 |                    670.804 |                        954.263 |                934.365 |                122.221 |                1186.99 |                725.904 |               1240.38 |    20.7453 |       0.491031 |      0.966479 |       0.588329 |           261.652 |                0 |                 3.5948  | 265288           | 359383           |    123308           |         0 |       156.57  |              0 |             0 |             0 |                  5.1417 |         205877           |        47212.9 |           801.45 |                 165045 |       3793.65 |     2.8236  |             0 |              0.118578 |                 0.557285 |     1.16997 |              238.735 |              190.178 |     23.7932 |          0.544518 |               0 |             230414           |    653802           |                0 |        492729           |     7628.87 |              2.18128 |           1.53338e+12 |     0.170743   |
| min   |     1.07119e+07 |                 1       |                    2       |         38     |       0       |      0       |              3        |                 1       |            1        |           66 |                     44     |                        128     |                128     |               1056     |                 598    |                 44     |                380    |  6037      |       1        |      1        |       0        |             0     |                1 |                 1       |      3.33395e+07 |     -1.19475e+08 |       236           |         1 |        24     |              1 |             1 |             1 |                 31      |              6.0371e+07  |         3491   |          1286    |                   6952 |      95982    |     0       |             7 |              1        |                 4        |     1       |               11     |               12     |   1824      |          1        |               1 |                 44           |      1000           |             2016 |           161           |       19.92 |              3       |           6.0371e+13  |    -4.65542    |
| 25%   |     1.15382e+07 |                 1       |                    7       |        273     |       2       |      2       |              4        |                 6       |            2        |           66 |                    955     |                       1182     |               1172     |               1344     |                1624    |                956     |                993.75 |  6037      |       1        |      2        |       2        |             0     |                1 |                 2       |      3.38146e+07 |     -1.18415e+08 |      5700           |         1 |       424     |              1 |             1 |             1 |                261      |              6.03731e+07 |        12447   |          1286    |                  46736 |      96193    |     0       |             7 |              1        |                 6        |     1       |              170     |               61.5   |   1953      |          1        |               1 |              84182           |    206898           |             2016 |         85293           |     2712.63 |             14       |           6.03731e+13 |    -0.0243113  |

In [1]:
import wrangle_excs

In [2]:
df = wrangle_excs.wrangle_zillow()

/opt/homebrew/anaconda3/envs/homebase/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3357: DtypeWarning: Columns (62) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
/Users/madeleinecapper/Documents/exercise_selfwork/germain/clustering/wrangle_excs.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(axis=0, thresh=threshold, inplace=True)

In [3]:
wrangle_excs.summarize(df)

=====================================================


Dataframe head:
|    |   bathroomcnt |   bedroomcnt |   buildingqualitytypeid |   calculatedfinishedsquarefeet |   fips |    latitude |    longitude |   lotsizesquarefeet |   rawcensustractandblock |   regionidcity |   regionidcounty |   regionidzip |   roomcnt |   unitcnt |   yearbuilt |   structuretaxvaluedollarcnt |   taxvaluedollarcnt |   assessmentyear |   landtaxvaluedollarcnt |   taxamount |   logerror | transactiondate   | heatingorsystemdesc   | county   |
|---:|--------------:|-------------:|------------------------:|-------------------------------:|-------:|------------:|-------------:|--------------------:|-------------------------:|---------------:|-----------------:|--------------:|----------:|----------:|------------:|-----------------------------:|--------------------:|-----------------:|------------------------:|------------:|-----------:|:------------------|:----------------------|:---------|
|  0 |           3.5 |            4 |                       6 |                           3100 |   6059 | 3.36349e+07 | -1.17869e+08 |                4506 |              6.05906e+07 |          53571 |             1286 |         96978 |         0 |         1 |        1998 |                       485713 |         1.02328e+06 |             2016 |                  537569 |    11013.7  | 0.0255949  | 2017-01-01        | None                  | Orange   |
|  1 |           1   |            2 |                       6 |                           1465 |   6111 | 3.44493e+07 | -1.19282e+08 |               12647 |              6.111e+07   |          13091 |             2061 |         97099 |         5 |         1 |        1967 |                        88000 |    464000           |             2016 |                  376000 |     5672.48 | 0.0556191  | 2017-01-01        | None                  | Ventura  |
|  2 |           2   |            3 |                       6 |                           1243 |   6059 | 3.38862e+07 | -1.17823e+08 |                8432 |              6.05902e+07 |          21412 |             1286 |         97078 |         6 |         1 |        1962 |                        85289 |    564778           |             2016 |                  479489 |     6488.3  | 0.00538285 | 2017-01-01        | None                  | Orange   |
=====================================================


Dataframe info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 69681 entries, 0 to 77574
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   bathroomcnt                   69681 non-null  float64
 1   bedroomcnt                    69681 non-null  float64
 2   buildingqualitytypeid         69681 non-null  float64
 3   calculatedfinishedsquarefeet  69681 non-null  float64
 4   fips                          69681 non-null  float64
 5   latitude                      69681 non-null  float64
 6   longitude                     69681 non-null  float64
 7   lotsizesquarefeet             69681 non-null  float64
 8   rawcensustractandblock        69681 non-null  float64
 9   regionidcity                  69681 non-null  float64
 10  regionidcounty                69681 non-null  float64
 11  regionidzip                   69681 non-null  float64
 12  roomcnt                       69681 non-null  float64
 13  unitcnt                       69681 non-null  float64
 14  yearbuilt                     69681 non-null  float64
 15  structuretaxvaluedollarcnt    69681 non-null  float64
 16  taxvaluedollarcnt             69681 non-null  float64
 17  assessmentyear                69681 non-null  float64
 18  landtaxvaluedollarcnt         69681 non-null  float64
 19  taxamount                     69681 non-null  float64
 20  logerror                      69681 non-null  float64
 21  transactiondate               69681 non-null  object
 22  heatingorsystemdesc           69681 non-null  object
 23  county                        69681 non-null  object
dtypes: float64(21), object(3)
memory usage: 13.3+ MB
None
=====================================================


Dataframe Description:
|       |   bathroomcnt |   bedroomcnt |   buildingqualitytypeid |   calculatedfinishedsquarefeet |       fips |         latitude |        longitude |   lotsizesquarefeet |   rawcensustractandblock |   regionidcity |   regionidcounty |   regionidzip |     roomcnt |   unitcnt |   yearbuilt |   structuretaxvaluedollarcnt |   taxvaluedollarcnt |   assessmentyear |   landtaxvaluedollarcnt |   taxamount |       logerror |
|:------|--------------:|-------------:|------------------------:|-------------------------------:|-----------:|-----------------:|-----------------:|--------------------:|-------------------------:|---------------:|-----------------:|--------------:|------------:|----------:|------------:|-----------------------------:|--------------------:|-----------------:|------------------------:|------------:|---------------:|
| count |  69681        | 69681        |             69681       |                      69681     | 69681      |  69681           |  69681           |     69681           |          69681           |        69681   |        69681     |      69681    | 69681       |     69681 |  69681      |              69681           |     69681           |            69681 |         69681           |    69681    | 69681          |
| mean  |      2.25094  |     3.00719  |                 6.35566 |                       1728.2   |  6049.32   |      3.40026e+07 |     -1.18193e+08 |     27625           |              6.04962e+07 |        33496.1 |         2499.22  |      96611.8  |     1.58765 |         1 |   1969      |             179806           |    464644           |             2016 |        284838           |     5668.02 |     0.0165701  |
| std   |      0.906773 |     0.992852 |                 1.36127 |                        852.152 |    20.8388 | 268089           | 360898           |    119080           |         206832           |        46571.3 |          814.938 |       3999.02 |     2.90459 |         0 |     22.9801 |             175555           |    454724           |                0 |        327205           |     5271.39 |     0.165564   |
| min   |      1        |     1        |                 1       |                        360     |  6037      |      3.33395e+07 |     -1.19475e+08 |       236           |              6.0371e+07  |         3491   |         1286     |      95982    |     0       |         1 |   1878      |                 44           |      3254           |             2016 |           161           |       19.92 |    -4.65542    |
| 25%   |      2        |     2        |                 6       |                       1164     |  6037      |      3.38039e+07 |     -1.18409e+08 |      6000           |              6.03731e+07 |        12447   |         1286     |      96206    |     0       |         1 |   1954      |              82863           |    202501           |             2016 |         82213           |     2663.92 |    -0.0237356  |
| 50%   |      2        |     3        |                 6       |                       1506     |  6037      |      3.40129e+07 |     -1.18163e+08 |      7313           |              6.03762e+07 |        25218   |         3101     |      96411    |     0       |         1 |   1970      |             133581           |    354322           |             2016 |        202829           |     4371.09 |     0.00656259 |
| 75%   |      3        |     4        |                 7       |                       2046     |  6059      |      3.41745e+07 |     -1.17913e+08 |     10642           |              6.05905e+07 |        45457   |         3101     |      96989    |     0       |         1 |   1986      |             213000           |    561560           |             2016 |        365771           |     6763.44 |     0.0381449  |
| max   |     10        |    11        |                12       |                       7970     |  6111      |      3.48188e+07 |     -1.17572e+08 |         6.97101e+06 |              6.11101e+07 |       396556   |         3101     |     399675    |    14       |         1 |   2016      |                  3.09767e+06 |         4.99313e+06 |             2016 |             4.84722e+06 |    61992.6  |     3.39454    |
=====================================================
DataFrame value counts:
(0.99, 1.9]    13745
(1.9, 2.8]     35775
(2.8, 3.7]     15803
(3.7, 4.6]      3011
(4.6, 5.5]       964
(5.5, 6.4]       264
(6.4, 7.3]        89
(7.3, 8.2]        25
(8.2, 9.1]         4
(9.1, 10.0]        1
Name: bathroomcnt, dtype: int64
(0.989, 2.0]    21369
(2.0, 3.0]      28391
(3.0, 4.0]      15500
(4.0, 5.0]       3759
(5.0, 6.0]        557
(6.0, 7.0]         86
(7.0, 8.0]         12
(8.0, 9.0]          5
(9.0, 10.0]         1
(10.0, 11.0]        1
Name: bedroomcnt, dtype: int64
(0.988, 2.1]        9
(2.1, 3.2]        145
(3.2, 4.3]       8092
(4.3, 5.4]       1472
(5.4, 6.5]      38509
(6.5, 7.6]       5229
(7.6, 8.7]      13077
(8.7, 9.8]       2024
(9.8, 10.9]       244
(10.9, 12.0]      880
Name: buildingqualitytypeid, dtype: int64
(352.389, 1121.0]    15184
(1121.0, 1882.0]     33171
(1882.0, 2643.0]     12812
(2643.0, 3404.0]      5081
(3404.0, 4165.0]      2041
(4165.0, 4926.0]       764
(4926.0, 5687.0]       332
(5687.0, 6448.0]       174
(6448.0, 7209.0]        86
(7209.0, 7970.0]        36
Name: calculatedfinishedsquarefeet, dtype: int64
(6036.925, 6044.4]    44142
(6044.4, 6051.8]          0
(6051.8, 6059.2]      19835
(6059.2, 6066.6]          0
(6066.6, 6074.0]          0
(6074.0, 6081.4]          0
(6081.4, 6088.8]          0
(6088.8, 6096.2]          0
(6096.2, 6103.6]          0
(6103.6, 6111.0]       5704
Name: fips, dtype: int64
(33338047.759000003, 33487451.0]      934
(33487451.0, 33635375.0]             5151
(33635375.0, 33783299.0]             9389
(33783299.0, 33931223.0]            13737
(33931223.0, 34079147.0]            11991
(34079147.0, 34227071.0]            16913
(34227071.0, 34374995.0]             5871
(34374995.0, 34522919.0]             2141
(34522919.0, 34670843.0]             2264
(34670843.0, 34818767.0]             1290
Name: latitude, dtype: int64
(-119477167.928, -119284972.3]      180
(-119284972.3, -119094679.6]       1832
(-119094679.6, -118904386.9]       1217
(-118904386.9, -118714094.2]       2363
(-118714094.2, -118523801.5]       4567
(-118523801.5, -118333508.8]      13579
(-118333508.8, -118143216.1]      12703
(-118143216.1, -117952923.4]      13191
(-117952923.4, -117762630.7]      12263
(-117762630.7, -117572338.0]       7786
Name: longitude, dtype: int64
(-6734.775000000001, 697313.4]    69425
(697313.4, 1394390.8]               207
(1394390.8, 2091468.2]               30
(2091468.2, 2788545.6]                2
(2788545.6, 3485623.0]                1
(3485623.0, 4182700.4]                9
(4182700.4, 4879777.8]                0
(4879777.8, 5576855.2]                0
(5576855.2, 6273932.6]                0
(6273932.6, 6971010.0]                7
Name: lotsizesquarefeet, dtype: int64
(60370272.019999996, 60444919.091]    44142
(60444919.091, 60518827.081]              0
(60518827.081, 60592735.071]          19835
(60592735.071, 60666643.061]              0
(60666643.061, 60740551.051]              0
(60740551.051, 60814459.041]              0
(60814459.041, 60888367.031]              0
(60888367.031, 60962275.021]              0
(60962275.021, 61036183.011]              0
(61036183.011, 61110091.001]           5704
Name: rawcensustractandblock, dtype: int64
(3097.9339999999997, 42797.5]    51320
(42797.5, 82104.0]               16429
(82104.0, 121410.5]                972
(121410.5, 160717.0]                 0
(160717.0, 200023.5]                 0
(200023.5, 239330.0]                 0
(239330.0, 278636.5]                18
(278636.5, 317943.0]                 0
(317943.0, 357249.5]                 0
(357249.5, 396556.0]               942
Name: regionidcity, dtype: int64
(1284.184, 1467.5]    19835
(1467.5, 1649.0]          0
(1649.0, 1830.5]          0
(1830.5, 2012.0]          0
(2012.0, 2193.5]       5704
(2193.5, 2375.0]          0
(2375.0, 2556.5]          0
(2556.5, 2738.0]          0
(2738.0, 2919.5]          0
(2919.5, 3101.0]      44142
Name: regionidcounty, dtype: int64
(95678.306, 126351.3]    69669
(126351.3, 156720.6]         0
(156720.6, 187089.9]         0
(187089.9, 217459.2]         0
(217459.2, 247828.5]         0
(247828.5, 278197.8]         0
(278197.8, 308567.1]         0
(308567.1, 338936.4]         0
(338936.4, 369305.7]         0
(369305.7, 399675.0]        12
Name: regionidzip, dtype: int64
(-0.015, 1.4]    52759
(1.4, 2.8]           8
(2.8, 4.2]        1453
(4.2, 5.6]        2851
(5.6, 7.0]        8116
(7.0, 8.4]        2835
(8.4, 9.8]        1177
(9.8, 11.2]        439
(11.2, 12.6]        32
(12.6, 14.0]        11
Name: roomcnt, dtype: int64
(0.9989, 0.9992]        0
(0.9992, 0.9994]        0
(0.9994, 0.9996]        0
(0.9996, 0.9998]        0
(0.9998, 1.0]       69681
(1.0, 1.0002]           0
(1.0002, 1.0004]        0
(1.0004, 1.0006]        0
(1.0006, 1.0008]        0
(1.0008, 1.001]         0
Name: unitcnt, dtype: int64
(1877.861, 1891.8]       22
(1891.8, 1905.6]        164
(1905.6, 1919.4]       1026
(1919.4, 1933.2]       4027
(1933.2, 1947.0]       4811
(1947.0, 1960.8]      15910
(1960.8, 1974.6]      14167
(1974.6, 1988.4]      14451
(1988.4, 2002.2]       9343
(2002.2, 2016.0]       5760
Name: yearbuilt, dtype: int64
(-3053.6290000000004, 309806.8]    61146
(309806.8, 619569.6]                6649
(619569.6, 929332.4]                1169
(929332.4, 1239095.2]                443
(1239095.2, 1548858.0]               165
(1548858.0, 1858620.8]                61
(1858620.8, 2168383.6]                28
(2168383.6, 2478146.4]                12
(2478146.4, 2787909.2]                 3
(2787909.2, 3097672.0]                 5
Name: structuretaxvaluedollarcnt, dtype: int64
(-1735.879, 502241.8]     48579
(502241.8, 1001229.6]     15675
(1001229.6, 1500217.4]     3057
(1500217.4, 1999205.2]     1200
(1999205.2, 2498193.0]      507
(2498193.0, 2997180.8]      312
(2997180.8, 3496168.6]      161
(3496168.6, 3995156.4]       92
(3995156.4, 4494144.2]       62
(4494144.2, 4993132.0]       36
Name: taxvaluedollarcnt, dtype: int64
(2013.983, 2014.387]        0
(2014.387, 2014.79]         0
(2014.79, 2015.194]         0
(2015.194, 2015.597]        0
(2015.597, 2016.0]      69681
(2016.0, 2016.403]          0
(2016.403, 2016.806]        0
(2016.806, 2017.21]         0
(2017.21, 2017.613]         0
(2017.613, 2018.016]        0
Name: assessmentyear, dtype: int64
(-4686.064, 484867.3]     59250
(484867.3, 969573.6]       7905
(969573.6, 1454279.9]      1490
(1454279.9, 1938986.2]      562
(1938986.2, 2423692.5]      257
(2423692.5, 2908398.8]      123
(2908398.8, 3393105.1]       65
(3393105.1, 3877811.4]       22
(3877811.4, 4362517.7]        6
(4362517.7, 4847224.0]        1
Name: landtaxvaluedollarcnt, dtype: int64
(-42.053999999999995, 6217.191]    49329
(6217.191, 12414.462]              15295
(12414.462, 18611.733]              2937
(18611.733, 24809.004]              1094
(24809.004, 31006.275]               481
(31006.275, 37203.546]               275
(37203.546, 43400.817]               132
(43400.817, 49598.088]                74
(49598.088, 55795.359]                44
(55795.359, 61992.63]                 20
Name: taxamount, dtype: int64
(-4.664000000000001, -3.85]        2
(-3.85, -3.045]                    1
(-3.045, -2.24]                   23
(-2.24, -1.435]                   17
(-1.435, -0.63]                  132
(-0.63, 0.175]                 66117
(0.175, 0.98]                   3150
(0.98, 1.785]                    128
(1.785, 2.59]                     99
(2.59, 3.395]                     12
Name: logerror, dtype: int64
2017-06-30    1057
2017-04-28     809
2017-05-31     774
2017-07-28     718
2017-08-31     691
              ...
2017-04-15       1
2017-09-25       1
2017-04-08       1
2017-08-12       1
2017-06-03       1
Name: transactiondate, Length: 264, dtype: int64
Central       30396
None          24521
Floor/Wall    13065
Yes             831
Forced air      763
Solar            65
Radiant          23
Baseboard        13
Gravity           3
Heat Pump         1
Name: heatingorsystemdesc, dtype: int64
Los Angeles    44142
Orange         19835
Ventura         5704
Name: county, dtype: int64
=====================================================
nulls in dataframe by column:
                              num_rows_missing  percent_rows_missing
bathroomcnt                                  0                   0.0
bedroomcnt                                   0                   0.0
buildingqualitytypeid                        0                   0.0
calculatedfinishedsquarefeet                 0                   0.0
fips                                         0                   0.0
latitude                                     0                   0.0
longitude                                    0                   0.0
lotsizesquarefeet                            0                   0.0
rawcensustractandblock                       0                   0.0
regionidcity                                 0                   0.0
regionidcounty                               0                   0.0
regionidzip                                  0                   0.0
roomcnt                                      0                   0.0
unitcnt                                      0                   0.0
yearbuilt                                    0                   0.0
structuretaxvaluedollarcnt                   0                   0.0
taxvaluedollarcnt                            0                   0.0
assessmentyear                               0                   0.0
landtaxvaluedollarcnt                        0                   0.0
taxamount                                    0                   0.0
logerror                                     0                   0.0
transactiondate                              0                   0.0
heatingorsystemdesc                          0                   0.0
county                                       0                   0.0
=====================================================
nulls in dataframe by row:
  num_cols_missing percent_cols_missing  index
0                0                  0.0  69681
============================================

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69681 entries, 0 to 77574
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   bathroomcnt                   69681 non-null  float64
 1   bedroomcnt                    69681 non-null  float64
 2   buildingqualitytypeid         69681 non-null  float64
 3   calculatedfinishedsquarefeet  69681 non-null  float64
 4   fips                          69681 non-null  float64
 5   latitude                      69681 non-null  float64
 6   longitude                     69681 non-null  float64
 7   lotsizesquarefeet             69681 non-null  float64
 8   rawcensustractandblock        69681 non-null  float64
 9   regionidcity                  69681 non-null  float64
 10  regionidcounty                69681 non-null  float64
 11  regionidzip                   69681 non-null  float64
 12  roomcnt                       69681 non-null  float64
 13  unitcnt                       69681 non-null  float64
 14  yearbuilt                     69681 non-null  float64
 15  structuretaxvaluedollarcnt    69681 non-null  float64
 16  taxvaluedollarcnt             69681 non-null  float64
 17  assessmentyear                69681 non-null  float64
 18  landtaxvaluedollarcnt         69681 non-null  float64
 19  taxamount                     69681 non-null  float64
 20  logerror                      69681 non-null  float64
 21  transactiondate               69681 non-null  object
 22  heatingorsystemdesc           69681 non-null  object
 23  county                        69681 non-null  object
dtypes: float64(21), object(3)
memory usage: 13.3+ MB

In [10]:
scaler, train, val, test = wrangle_excs.wrangle_mall_df()

/Users/madeleinecapper/Documents/exercise_selfwork/germain/clustering/wrangle_excs.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test[num_vars] = scaler.transform(test[num_vars])
/opt/homebrew/anaconda3/envs/homebase/lib/python3.9/site-packages/pandas/core/indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 182 to 59
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             118 non-null    float64
 1   annual_income   118 non-null    float64
 2   spending_score  118 non-null    float64
 3   Male            118 non-null    float64
dtypes: float64(4)
memory usage: 4.6 KB

In [14]:
test.head()

                  age  annual_income  spending_score  Male
customer_id
157          0.365385       0.567568        0.000000   1.0
27           0.519231       0.117117        0.316327   0.0
63           0.942308       0.288288        0.520408   0.0
32           0.057692       0.135135        0.734694   0.0
21           0.326923       0.081081        0.346939   1.0